<% @title = "About" %>

Snatch is a little program I wrote which adds whichever song is currently playing on Spotify to a designated playlist. The idea being that if one hears a song they like they can record their approval without taking more than a second off from what they are doing.
<hr>
To use this service simply click the 'Snatch!' button above, the first time you do so you will have to log into spotify to authenticate.
<hr>
Alternatively you can download desktop (or dock) shortcuts for <a href="http://fenwickelliott.io/Snatch.zip" download="http://fenwickelliott.io/Snatch.zip">MacOS</a> and <a href="http://fenwickelliott.io/Snatch.url.zip" download="http://fenwickelliott.io/Snatch.url.zip">Windows</a>.
